*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
header{
    display: flex;
    /* background-color: #f9afaf; */
    height: 80px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #b6b1b1;
}
.myntra_home{
    height: 45px;
    
    
}
.container_logo{
  margin-left: 4%;
}
.action_bar{
    margin-right: 4%;
}
.nav_bar{
    display: flex;
    min-width: 500px;
     justify-content: space-evenly;
}
.nav_bar a{
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    padding: 28px 0;
    border-bottom: 5px solid #ffffff;

}
.nav_bar a:hover{
    border-bottom: 5px solid #ff3f6c;
    /* padding-bottom: 4px; */
    /* transition: all 0.3s ease-in-out; */
}

.nav_bar a sup{
    color: rgb(255, 30, 30);
    font-size: 10px;
}
.search_bar{
    height: 40px;
    min-width: 200px;
    width: 30%;
    /* background-color: #696e79; */
    display: flex;
    align-items: center;

}
.search_icon{
    box-sizing: content-box;
    height: 20px;
    padding: 10px;
    /* border: 2px solid #696e79; */

    background-color: #f5f5f6;
    color:#282c3f ;
    font-weight: 300;
    border-radius: 4px 0 0 4px;

}
.search_input{
    color: #696e79;
    background-color: #f5f5f6;
    flex-grow: 1;
    height: 40px;
    border: none;
        border-radius: 0 4px 4px 0;

}
.action_bar{
    display: flex;
    min-width: 200px;
    justify-content: space-evenly;

}
.action_container{
    display: flex;
    flex-direction: column;
    align-items: center;

    
   

}



.footer_container{
    padding: 30px 0 40px 0;
    background: #FAFBFC;
    display: flex ;
    justify-content: space-evenly;

}
.footer_column{
    display: flex;
    flex-direction: column;

    
}
.footer_column h3{
    color: #282c3f; 
    font-size: 14px;
    margin-bottom: 25px;

}
.footer_column a{
    color: #696b79;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px ;
}
.copyright{
    color: #94969f;
    text-align: end;
    padding: 15px;

}

/* main */

.items-container{
    width: 80%;
    margin:40px 10%;

}
.item-container{
    width: 250px;
    ;

}
.item-image{
    width: 100%;

}
.rating{
    font-size: 12px;
     font-weight: 700;

}
.company-name{
    margin-top: 15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: #282c3f;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.item-name{
    color: #535766;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    display: block;


}
.price{
    margin-top: 10px;
    font-size: 14px;
    line-height: 15px;
    color: #282c3f;
    white-space: nowrap;

}
.current-price{
    font-size: 14px;
    font-weight: 700;
    color: #282c3f;

}
.original-price{
    text-decoration: line-through;
    color: #7e818c;
    font-weight: 400;
    margin-left: 5px;
    font-size: 12px;

}
.discount{
    color: #ff905a;
    font-weight: 400;
    font-size: 12px;
    margin-left: 5px;

}
.btn-add-bag{
    margin-top: 8px;
    background-color: lightgreen;
    border: none;
    padding: 8px 15px;
    border-radius: 10px;
    width: 100%;
    font-size: 18px;

}
